/*aligned the header(About,Events..) to the right*/
html{
	scroll-behavior: smooth;
}
.header{
	

	text-align: left;
	
}

/*designed the header*/
.header li{
	display: inline-block;
	font-size:10px;
	font-style: oblique;
	padding-bottom: 30px;
	padding-right: 30px;
	color: white;
	



}
header{
	background-color: #0a6649;
	margin-bottom: 50px;
	position: fixed;
	width: 100%;
	top: 0;

	
}

a{
	color: white;
}

a:hover{
	color:#FFCC00;
}

body{
	margin-left: 0px;
	margin-right: 0px;

}

main{
	
	font-family:BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
	font-size: 23px;

	
}
.first{
	width:20%;
	margin-left: 10px;
	background-color: #A9DFBF;
	}

.giphy{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	width: 70%
}
.one{
	background-image: url("background1.PNG");
}

#Poem
{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 290px;


}
.pic{

	display: inline-block;
	opacity: 1;
	padding-right: 30px;
	margin-left: 120px;
	width:20%;
	transition: width 2s, height 2s,
	
}
.pic:hover{
	opacity: 1;
	width: 25%;
	}



h1{
	text-align: center;
	padding-top: 190px;

}

h4{
	background-color: #A9DFBF;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 100px;
	margin-bottom: 0px;
}


h2{
	font-size: 40px;
	color: white;
	padding-top: 50px;
	padding-bottom: 15px;
	font-family: 'Source Sans Pro', sans-serif;
}

#Apple {
	width: 200px;
	height:200px;
	box-sizing: border-box;
	display: inline-block;
	border:1px solid grey;
	overflow: auto;
	background-color: lightgrey;
	margin-left: 60px;
	margin-top: 0px;
	padding-top: 0px;
	transition: width 2s, height 2s;
	border-radius: 1200px;

}

#Apple:hover {
	width: 350px;
	height: 350px;
	
	}
/* Hide scrollbar for Chrome, Safari and Opera */
#Apple::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#Apple {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#Apple p{
	margin-block-start: 0px;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
}


#About{
	width: 100%;
	height:600px;
	box-sizing: border-box;
	opacity: 0.9;
	
	border:10px solid orange;
	overflow: auto;
	background-color: #424949;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
	color: white;



}

#Highlight{
	width: 100%;
	height:600px;
	box-sizing: border-box;
	opacity: 0.9;
	
	border:10px solid orange;
	overflow: auto;
	background-color: #424949;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	color: white;
}


#Magazines{
	width: 100%;
	height:600px;
	box-sizing: border-box;
	opacity: 1;
	
	border:10px solid orange;
	overflow: auto;
	background-color: #424949;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
	color: white;

}
.teampic{
	
	width:200px;
	height: 230px;
	display: block;
	margin: auto;
	opacity: 1;	
}

#Team{
	width: 100%;
	height:600px;
	box-sizing: border-box;
	opacity: 1;
	padding-left: 100px;
	border:10px solid orange;
	overflow: auto;
	background-color: #424949;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
	color: black ;
	

}

#Submissions{
	width: 100%;
	height:400px;
	box-sizing: border-box;
	opacity: 0.9;
	
	border:10px solid orange;
	overflow: auto;
	background-color: #424949;
	margin-left: auto;
	margin-right: auto;
	margin-top: 300px;
	color: white;

}



form{
	padding-bottom: 100px;
}



footer{

	font-size: 20px;
	background-color: #0a6649;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 80px;
	color: white;
}
